
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.programmer-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.programmer-link:hover {
    text-decoration: underline;
    color: #B9AFA1;
}

.add-programmer-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #967859;
    font-weight: bold;
}

.add-programmer-link:hover {
    text-decoration: underline;
}
